*{
    margin: 0;
    padding: 0;
}

.cadre{
    
     width: 900px;
     height: 500px;
     background-color: rgb(107, 201, 53);
     margin: 0 auto;
}

h1{
    text-align: center;
    
}


.content{
    
    /* align-items: center;  */
    justify-content: center; 
    display: flex; 
    
}

select{
    /* padding: 20px; */
    border-radius: 15px;
    width: 300px;
    height: 50px;
    margin-top: 50px;
}

img{
    height: 50px;
    width:60px;
    padding: 10px;
    display: flex;
    margin-top: 40px;
    
}

.cont2{
    justify-content: center;
    display: flex;
}

input{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 50px;
}
.cl{
    justify-content: center;
    text-align: center;
}

.cle{
    height: 50px;
    width: 250px;
    background-color: white;
    color: black;
}

::placeholder{
    text-align: center;
    color: rgba(0, 0, 0, 0.623);
    
}
.confirm{
    justify-content: center;
    text-align: center;
}

button{
    height: 50px;
    width: 500px;
    color: black;
    border-radius: 10px;
    margin-top: 30px;
}

button:hover{
    background-color: rgba(255, 0, 0, 0.719);
}
.bt{
    font-size: 1rem;
    font-weight: bold;
}

